form:not(.delete-modal) {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input,select,textarea {
    padding: 1rem;
    border: 2px solid #38A3A5;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.question-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.question {
    border: 2px solid #38A3A5;
    padding: 1rem;
    border-radius: 5px;
}

.deletebtn,#confirm {
    background-color: #ef476f;
    border: 2px solid #ef476f;
    color: white;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 1rem;
}

input[type=submit],
select,.questionbtn,#cancel {
    background-color: #38A3A5;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.error {
    color: #ef476f;
}

.generalError {
    color: red;
    background-color: #ffcccb;
    border: 1px solid red;
    padding: 5px;
    width: fit-content;
}

#modal-container {
    display: none;
    /* La fenêtre modale est cachée par défaut */
    position: fixed;
    /* Elle est positionnée par rapport à la fenêtre du navigateur */
    z-index: 1;
    /* Elle est au-dessus de tous les autres éléments de la page */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Pour permettre le défilement si nécessaire */
    background-color: rgba(0, 0, 0, 0.4);
    /* Un fond semi-transparent */
}

#modal {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-btn {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}